/Inmobiliaria/target/
/Inmobiliaria/JavaApplication6/nbproject/private/
/Inmobiliaria/JavaApplication6/build/
/Inmobiliaria/JavaApplication7/nbproject/private/
/Inmobiliaria/JavaApplication7/build/
/Inmobiliaria/JavaApplication7/dist/
/Inmobiliaria/servel/nbproject/private/
/Inmobiliaria/Muni/nbproject/private/